<div class="cart-quantity-selector quantity-selector">
    <button type="button" class="minus">
        -
    </button>
    <input name="updates[]" type="text" value="{{ item.quantity }}">
    <button type="button" class="plus">
        +
    </button>
</div>