<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    {{ content_for_header }}
    {{ 'style.scss' | asset_url | stylesheet_tag }}
  </head>
  <body>

    {% render 'header'%}
    {{ content_for_layout }}

    {%- section 'drawer' -%}

    {%- comment -%} url parser {%- endcomment -%}
    <script src="https://cdn.jsdelivr.net/npm/url-parse@1.5.10/dist/url-parse.min.js"></script>
    {%- comment -%} end {%- endcomment -%}

    {{ 'script.js' | asset_url | script_tag }}
   
  </body>
</html>