.product-color_border {
  border: 1px solid;
  border: none;
  border-radius: 50%;
  padding: 5px;
}

.product-color_picker {
  border-radius: 50% !important;
  padding: 3px 10px !important;
  border: none !important;
}

.active {
  color: #dcd932;
}

.product-radioSelect input[type="radio"] {
  opacity: 0.01;
  z-index: 100;
  display: none;
}

.product-radioSelect input[type="radio"]:checked + label,
.Checked + label {
  background: #111827;
  color: white;
}

.product-radioSelect input[type="radio"]:checked + .product-color_border,
.Checked + .product-color_border {
  background: #c0cf63;
}

.product-radioSelect label {
  padding: 5px 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  z-index: 90;
  border-radius: 3px;
}

.product-radioSelect label:hover {
  background: #ddd;
}
.product-prices {
  display: flex;
  gap: 5px;
}

.product-compare {
  text-decoration: line-through;
  color: gray;
}

.product-add {
  border-radius: 16px;
  background-color: #dcd932;
  padding: 5px;
  margin-top: 24px;
}

.quantity-selector {
  display: flex;
  justify-content: space-between;
  width: 80px;
  border: 1px solid;
  border-radius: 24px;
}

.quantity-selector input {
  width: 20px;
  border: none;
}

.quantity-selector button {
  background: none;
}
.product-option {
  margin-top: 24px;
}
.product-optionSelectors {
  display: flex;
  gap: 16px;
}
.product-image-thumbs {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  padding: 0;
}

.product-image-thumbs li {
  list-style: none;
}

.product__block {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 40px;
}

.prod-left .main-image {
  width: 100%;
  object-fit: cover;
}

.prod-left {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
}
.prod-right {
  padding-right: 0px;
}

.selected {
  border: 1px solid #dcd932;
}

.hide {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .prod-left {
    flex-direction: column;
  }
  .prod-right {
    padding-right: 0;
  }
  .product__block {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .product-image-thumbs {
    flex-direction: row;
    overflow: scroll;
  }
}
@media only screen and (min-width: 1440px) {
  .prod-right {
    padding-right: 300px;
  }
}
